.rover-select {

	cursor: pointer;
	padding: 10px;
	margin-top: 20px;

	.portrait {
		width: 250px;
		height: 150px;
		margin: 0px auto;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.details {

		margin: 0px 50px;
		text-align: center;

		h3 {
			font-weight: bold;
		}

		.dates {
			text-align: left;
		}
	}

	&:hover {
		-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
	}

	&.selectable {
		//background-color: $mars-red;
		margin-top: 0px;
		border-radius: 5px;

		h3 {
			font-size: 40px;
			margin-top: 5px;
		}

		.portrait {
			float: left;
			margin-right: 10px;
			width: 150px;
			height: 100px;
		}

		.details {
			text-align: left;
		}

		&:hover {
			cursor: default;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

}