{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "moment": true,
    "_": true
  },
  "rules": {
    "no-mixed-spaces-and-tabs": 0
  }
}
