.photo-date {
	margin-top: 25px;
}

.random-date {
	margin-left: 15px;
}

.no-photos {
	text-align: center;
}

hr {
	border-color: $mars-dark;
	margin-top: 5px;
}

.btn-favorite {
	i {
		margin-right: 4px;
	}

	&.active, &.active:focus, &.active:hover {
		color: yellow;
	}
}

.roverPhotos {
	.rover-details {
		display: none;
	}
}