body.roverPhotos {
	background-image: none;
	color: $mars-dark;
}

.carousel-indicators {
	display: none;
}

.photo-header {
	margin-bottom: 10px;
}

.camera-name {
	margin-left: 5px;
}

.carousel-control.left, .carousel-control.right {
	display: none;
}

.photos-prev, .photos-next {
	margin-top: 10px;
	cursor: pointer;
	height: 30px;
	border: solid 1px $mars-red;
	border-radius: 5px;
	background-color: $mars-red;

	i {
		margin-top: 4px;
		vertical-align: middle;
	}

	&:hover {
		background-color: $mars-red;
		color: #fff;
	}

	&.disabled {
		display: none;
	}
}

.random-date {
	margin-left: 15px;
}

.no-photos {
	text-align: center;
}