<div>

  <div class="row">
    <div class="col-xs-8">
      <rover-select rover="roverPhotosCtrl.rover" selectable="true"></rover-select>
    </div>
    <div class="col-xs-4 photo-date">
      <label>Photo date:</label>
      <span class="text-danger" ng-show="roverPhotosCtrl.date.isInvalid">Invalid Date</span>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup ng-model="roverPhotosCtrl.date.value" show-button-bar="false" show-weeks="false"
               is-open="roverPhotosCtrl.date.isPopupOpen" min-date="roverPhotosCtrl.date.min" max-date="roverPhotosCtrl.date.max" close-text="Close"
               ng-focus="roverPhotosCtrl.openDatePopup()" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="roverPhotosCtrl.openDatePopup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        <button class="random-date btn btn-primary pull-right" ng-click="roverPhotosCtrl.randomDate()">Random!</button>
      </p>
    </div>
  </div>

  <hr />

  <photo-viewer ng-if="roverPhotosCtrl.photosLoaded" photos="roverPhotosCtrl.photos" active-photo="roverPhotosCtrl.activePhoto">
    <button btn-checkbox ng-model="roverPhotosCtrl.activePhoto.isFavorite" class="btn btn-primary btn-favorite" ng-click="roverPhotosCtrl.addOrRemoveFavorite()">
      <i class="glyphicon glyphicon-star"></i>Favorite
    </button>
  </photo-viewer>

  <div class="no-photos" ng-show="roverPhotosCtrl.noPhotosForDate">
    <h3>Sorry, no photos for this date :(</div>
  </div>

</div>
